---
import ImagesList from "../components/ImagesList.astro";
import { INITIAL_IMAGES_COUNT } from "../constants";

const images = Astro.locals.images.slice(INITIAL_IMAGES_COUNT);
---
<div id="extra">
  <ImagesList images={images} loading="lazy" />
</div>
